@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

@layer base {
  body {
    @apply bg-[#f8f9fa] text-slate-900 antialiased;
  }
}

.grid-container {
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 500px;
}
